.table-user{
    padding: 0rem 5rem ;
    
    
}
table{
    width: 100%;
}
.filter{
    width: 100%;
}
.table-users-title{
    font-size: xx-large;
    text-align: center;
    margin: 2rem;   
}
.div-title{
    border-bottom: 2px solid #a78951;
    margin: 1rem 3rem;
}
#transfer-btn{
    color: green;
}